<html>
<head>
	<title>Resource Finder</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	<link rel="stylesheet" href="/css/main.css">
</head>
<div class = "navbar">
	<a href="index">Home</a>
	<a href="about">About</a>
	<a class = "active" href="resource">Resource Finder</a>
</div>

<body>
	<div class = "welcome-text">
		<h3>This is where all the resources will be shown.</h3>
	</div>

	<h4>Resource Centers</h4>

	{{#each centers}}
      <div class="centers" id="{{id}}">
      		<img src="images/{{img}}" ... />
        	<p>{{name}}</p>
        	<p>{{description}}</p>
        	<p>{{phonenumber}}</p>
        	<p>{{address}}</p>
        </a>
    </div>
    {{/each}}


</body>
</html>
